.section2{
    background-color: whitesmoke;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 100px;
    padding-top: 100px;
    font-family: 'Inter', sans-serif;
}
.solution{
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    margin-right: 15px;
    letter-spacing: 0;
}
.solution1{
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    margin-right: 10px;
}
.one__stop{
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    color: #2FA4FF;
    font-weight: bolder;
    margin-right: 18px;
}
.one__stop2{
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    color: #2FA4FF;
    font-weight: bolder;
    margin-right: 10px;
}
.explore{
    color: rgb(188, 184, 184);
    text-align: left;
    margin-left: 10%;
    /* font-family: 'Inter', sans-serif; */
    font-weight: 400;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.explore2{
    color: rgb(188, 184, 184);
    text-align: left;
    margin-left: 12%;
    /* font-family: 'Inter', sans-serif; */
    font-weight: 400;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.all__cards{
    display: flex;
    justify-content: center;
    
}
.img2{
    width: 210px;
    height: 180px;
}
.cards{
    height: 340px;
    width: 270px;
    background-color: white;
    margin: 20px;
    margin-bottom: 50px;
    border-radius: 1.5rem;
    padding: 20px 20px 30px 20px;
    box-shadow: 3px 3px 15px rgb(189, 187, 187);
}
.card__body{
    color: gray;
    font-size: 16px;
    text-align: center;
    margin-top: 0;
    font-family: 'Inter', sans-serif;
}
.card__title{
    font-size: 23px;
    font-family: 'Inter', sans-serif;
    font-weight: 700, bold;
}
.learn__more{
    position: absolute;
    width: 169.54px;
    height: 45px;
    left: 910px;
    top: 972px;
    padding-top: 15px;
    background: #36B7FF;
    box-shadow: 0px 8px 30px -5px rgba(0, 130, 255, 0.25);
    border-radius: 30px;
}
.learn__moe{
    font-family: Inter;
font-size: 17px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
text-decoration: none;
padding-top: 30px;
}